@{
    ViewBag.Title = "MainPage";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";    
}

@model List<NeoSocial.ViewModels.PostModel>

@{ 
    

    if(Model.Count == 0)
    {
        // http://www.icons-land.com
        <img alt="Unfortunatly" src="~/Content/Image/sad.png" style="float:left; padding-right:8px;" /> 
    }
    else
    {
     
        foreach(var post in Model)
        {
           
            <div class="postTemplate">                
                <img id="avatarImg" src=@post.IconUrl />
                <div class="postContent">
                    @*AYNI KİŞİ İSE PROFILE' a yönlen **@
                    
                    @if (post.UserID != (int)TempData["currentUserId"])
                    { 
                        @Html.ActionLink(post.Name + " " + post.Surname, "OtherProfile", "Profile", new { userId = post.PostOwnerID }, new { @id = "postOwnerText", @readonly = true });
                    } 
                    else
                    {
                        @Html.ActionLink(post.Name + " " + post.Surname, "Profile", "Profile", null, new { @id = "postOwnerText", @readonly = true });
                    }

                    <h2 id="postHeaderText">@post.PostHeader - @post.PostDate</h2>                    
                    @Html.TextArea("txtpostContentTextArea",post.PostContent,2,2 , new {@id="postContentTextArea", @readonly = true})        <br />       
                    <h4 class="likecomclass"><!--http://www.iconsmind.com --><img id="likeIcon" src="/Content/Image/like.png" /> Like : @post.PostLikeCount || <!-- http://icons8.com --><img id="commentIcon" src="/Content/Image/comment.png" /> Comment : @post.PostCommentID</h4>     
                </div>  
            </div>
            <br />
        } 
           
    }
                     
}
